* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    color: #39a6b2;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  :root {
    --primary-color: #fce138;
    --secondary-color: #024e76;
    --tertiary-color: #39a6b2;
  }
  
  
  /* HEADER / NAV BAR STYLES START */
  
  header {
    padding: 10px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-image: url("introbck.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
  }
  
  header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: rgb(81, 214, 192);
  }
  
  header a {
    text-decoration: none;
    color: rgb(81, 214, 192);
  }
  
  header nav {
    margin: 7px 0;
  }
  
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
  header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  header nav ul li a:hover {
    text-decoration: overline rgb(81, 214, 192);
    color: rgb(81, 214, 192);
  }
  
  
  /* HEADER / NAVBAR STYLES END */
  
  
  
  /* FOOTER STYLES START */
  footer {
    background: #39a6b2;
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
  }
  
  footer h2 {
    color: var(--secondary-color);
    font-size: 30px;
    margin: 0;
  }

  /* END FOOTER STYLES */
  
  /* STYLE ALL SECTION TAGS */
  section {
    padding: 60px;
  }
  
  /* HERO STYLES START */
  .starter {
    background-image: url('introbck.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
    background-position: 100%;
  }
  
  .starter-text {
    width: 75%;
    text-align: left;
    margin: 3.5%;
    color: #fff;
    font-size: 18px;
    line-height: 1.2;
  }
  
  .starter-text h2 {
    font-style: italic;
    font-size: 55px;
    color: rgb(81, 214, 192);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  /* HERO STYLES END */
  
  
  /* SECTION TITLE STYLES START */
  .section-title {
    font-size: 48px;
    color: var(--secondary-color);
    padding-bottom: 20px;
    text-align: right;
    margin: 0 auto 35px auto;
    width: 50%;
  }
  
  .secondary-border {
    border-color: var(--tertiary-color);
  }
  /* SECTION TITLE STYLES END */
  
  /* WHAT WE DO STYLES */

  .about-me img {
    display: flex;
    flex-wrap: wrap;
    margin-right: 20px;
    max-width: 350px;
  }

  .about-me p {
    display: flex;
    line-height: 1.7;
    color: var(--tertiary-color);
    width: 80%;
    font-size: 20px;
    text-align: center;
    flex: 1;
  }
  /* WHAT YOU DO STYLES END */
  
  
  /* WHAT YOU DO STYLES START */
  .steps { 
    background: #39a6b2;
  }

  .me {
    margin: 50px auto;
    padding-bottom: 50px;
    width: 900px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .me p {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  
  .step {
    margin: 50px auto;
    padding-bottom: 50px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  
  .step h3 {
    color: var(--secondary-color);
    font-size: 46px;
    flex: 1 30%;
  }
  
  .step-info {
    flex: 2 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  
  
  .step-text {
    flex: 12;
  }
  
  .step-text p {
    color: var(--tertiary-color);
    font-size: 18px;
  }
  
  .step-text h4 {
    font-size: 26px;
    line-height: 1.5;
    color: var(--secondary-color);
  }
  
  /* WHAT YOU DO STYLES END */
  
  
  /* REACH OUT STYLES START */
  .contact {
    background: var(--secondary-color);
  }

  .contact-me {
    background-color: #160457;
  }
  
  .contact h2 {
    color: var(--primary-color);
  }
  
  .contact-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .contact-info > * {
    flex: 1;
    margin: 15px;
  }
  
  .contact-info iframe {
    height: 400px;
  }
  
  .contact-info div {
    color: white;
  }
  
  .contact-info h3 {
    color: #39a6b2;
    font-size: 32px;
  }
  
  .contact-info p, .contact-info address {
    margin: 20px 0;
    line-height: 1.5;
    font-size: 16px;
    font-style: normal;
  }
  
  .contact-form input, .contact-form textarea {
    border: 1px solid var(--secondary-color);
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: var(--secondary-color);
    width: 100%;
    margin-bottom: 15px;
    margin-top: 5px;
    background-color: rgba(255,255,255, .75);
    outline: none;
  }
  
  .contact-form input:focus, .contact-form textarea:focus {
    background-color: rgba(255,255,255, 1);
    outline: none;
  }
  
  
  .contact-form button {
    width: 100%;
    border: none;
    background: #39a6b2;
    color: var(--secondary-color);
    text-align: center;
    padding: 15px 0;
    font-size: 16px;
  }
  
  .contact-info a {
    color: #39a6b2;
  }
  
  
  /* REACH OUT STYLES END */
  
  /* UTILITIES */
  .text-left {
    text-align: left;
  }
  
  .text-right {
    text-align: right;
  }
  
  .titles {
    display: flex;
    flex-wrap: wrap;
    text-align: right;
  }
  
  @media screen and (max-width: 980px) {
    header {
      padding-bottom: 0;
      justify-content: center;
      position: relative;
    }
  
    header h1 {
      width: 100%;
      text-align: center;
    }
  
    header nav ul {
      margin-top: 20px;
      width: 100%;
      justify-content: center;
    }
  
    header nav ul li a {
      font-size: 20px;
    }
  
    footer h2, footer div {
      text-align: center;
      width: 100%;
    }
  
    .starter-text { 
      width: 100%;
    }
    
    .starter-text {
      text-align: center;
    }
  
    .section-title {
      width: 80%;
    }
    
    .trainer {
      flex: 0 70%;
    }
    
    .contact-info iframe{
      flex: 1 100%;
    }
  }
  
  /* MEDIA QUERY FOR TABLETS AND SMALLER */
  @media screen and (max-width: 768px) {
  
    section {
      padding: 30px 15px;
    }
  
    .step h3 {
      flex: 1 100%;
      text-align: center;
    }
  
    .step-info {
      flex: 2 100%;
      text-align: center;
      justify-content: center;
    }
  
    .about-me img {     
      flex: 0 32%;
      margin-right: 0;
      margin-top: 15px;
      margin-bottom: 15px;
      
    }
    .me img {
      flex: 0 32%;
      margin-right: 0;
      margin-top: 15px;
      margin-bottom: 15px;
    }
  
    .step-text {
      flex: 100%;  
    }

    .me p, .about-me p {
      flex: 2 100%;
      justify-content: center;
      text-align: center;
    }
  
  }
  /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
  @media screen and (max-width: 575px) {
  
    .hero-form button {
      width: 100%;
    }
  
    .section-title {
      width: 95%;
    }
  
    .intro p {
      width: 100%;
    }
  
    .trainer {
      flex: 0 100%;
    }
  
    .contact-info {
      text-align: center;
    }
  
    .contact-info > * {
      flex: 0 100%;
    }
  
    .contact-form {
    order: 3;
  }
  }